<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">

    <title>United States of Beer: Analysis</title>
</head>

<body>
    <div>
        <nav>
            <ul class="nav justify-content-center nav-tabs border border-light shadow p-3">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/breweries">Mapped Breweries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allbeers">Beer Popularity Heatmap</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/analysis">Analysis</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visitor Log</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/send">Add your visit!</a>
                    <a class="dropdown-item" href="/visitormap">View the visitor map!</a>
                </li>
              </ul>
        </nav>
    </div>
    <div>
        <header>
        </header>
    </div>

    <div class="container fluid">

      <!-- ROW -->
      <!--#######-->
      <div class="row">

        <!--COLUMN-->
        <div class= "col-12 border border-light shadow p-3 m-3">
          <h4 class= "display-4 text-primary text-center">United States of Beer</h4>
          <hr>
          <p class="lead text-left"> 
            <h3>Analysis of Beer Advocate Scrap Data</h3>

            Our analysis primarily utilizes Machine Learning via SciKitLearn 
            and plotting with MatplotLib to analyze beer style, location by state, and users.
            We decided to focus on state and style data because user demographic data 
            was limited to gender, which was self-restricting as a quick analysis of 
            user reviews lead to the discovery that out of <mark>4807 reviews 0.42% were female,  
              90.01% were male, and 9.57% were listed as 'unspecified'</mark>.
    
          <div class="overflow-auto">
            <img src="../static/imgs/ReviewsByState_BarChart.png" class="align-self-start mr-3" alt="Reviews by State" style="height:700;">
          </div>
        </p>
        <br>
        <p class="lead text-left">
          <h4>States Population & Number of Reviews</h4>
          <p>
            As you can see above the number of beer reviews seems to be primarily determined by state population. 
            There are a couple outliers here, most notably, the state with the highest ratings, Massachusetts.
            This is likely due to the fact that BeerAdvocate was founded in 1996 and originally based in Boston, Massachusetts.
            Since they have also expanded to Denver, Colorado. 
          </p>
        </p>
        </div>
      </div>

      <div class="row">
        <div class= "col-12 border border-light shadow p-3 m-3">
          <p>
            <img src="../static/imgs/chart1.png" class="rounded float-left" alt="..." style="width:70%">
            <h4>Ratings by Style</h4>
            <p>
              This graph shows a count of ratings by beer style.  
              More ratings do not necessarily mean good ratings here. This is simply a count.
              Each point on the graph corresponds to a state.
              The colors are clusters determined by a machine learning algorithm. 
            </p>
          </p>
        </div>
      </div>

      <div class="row">
        <div class= "col-12 border border-light shadow p-3 m-3">
          <p class="lead text-right">
            <img src="../static/imgs/chart2.png" class="rounded float-right" alt="..." style="width:70%">
            <h4>Reviews by State</h4>
            <p>
              This graph shows a count of reviews by beer style. 
              Reviews are comments on the beer left by a small proportion of raters and are not required for a rating submission.
              Each point on the graph corresponds to a state.
              The colors are clusters determined by a machine learning algorithm. 
            </p>
          </p>
        </div>
      </div>

      <div class="row">
        <div class= "col-12 border border-light shadow p-3 m-3">
          <p class="lead text-left">
            <img src="../static/imgs/chart3.png" class="rounded float-left" alt="..." style="width:70%">
            <h4>State Population vs Review Count</h4>
            <p>
              This graph compares state population with review count per state.
              There does seem to be a connection, with some outliers.
            </p>
          </p>
        </div>
      </div>

    <!-- close container-->
    </div>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>